@using Blog.Logic.Helpers;




<div class="wrapper row2">
<nav id="mainav" class="hoc clear">
    <!-- ################################################################################################ -->
    <ul class="clear">
        <li class="active"><a href="/"><i class="fa fa-home fa-2x" aria-hidden="true"></i></a></li>
        @foreach (var item in UmbracoAssist.GetSettings().Navigation)
        {
            if (item.Link2lvl != null && !item.Link2lvl.Any())
            {
                <li><a href="@item.Link1lvl.Url" target="@item.Link1lvl.Target">@item.MenuTitle</a></li>
            }
            else
            {
                <li>
                    <a class="drop" href="#">@item.MenuTitle</a>
                    <ul>
                        @foreach (var lvl2 in item.Link2lvl)
                        {
                            <li><a class="drop" href="@lvl2.Url" target="@lvl2.Target">@lvl2.Name</a>
                        <ul>
                            @foreach (var lvl3 in item.Link3lvl)
                            {
                                <li><a href="@lvl3.Url" target="@lvl3.Target">@lvl3.Name</a></li>
                            }
                        </ul>
                        
                        </li>
                        }
                        @if (item.MenuTitle == "Artykuły")
                        {
                            <li>@Html.Action("RenderLatestArticleMenuItem", "ArticleSurface")</li>
                        }
                    </ul>
                </li>
            }
        }
    </ul>
</nav>
</div>         